*{
  -webkit-text-stroke: 1px rgb(117, 115, 115);
  color: rgb(204, 60, 37);
}

.App {
  background-color: rgb(48, 48, 48);
  text-align: center;
}


 .app-header h1:hover{
  color: rgb(142, 18, 18);
  font-size: 70px;
  margin: 50px 0px 50px 0px ;
 }

 .logo-container{
  
  padding-top: 20px;
 }
 
.photoaround{ 
  border: 10px solid black;
  border-radius: 20px;
}

.venue-container div p,h5{
  color: aliceblue !important;
}

.previewCards{  
  padding-top: 10px;
}

.footer{
  border-bottom: 200px solid rgb(48, 48, 48);
}