*{
  -webkit-text-stroke: 1px black;
  color: rgb(204, 60, 37);
}

.app-header h1{
  margin: 50px 0px 50px 0px ;
  font-size: 60px;
}

 .app-header h1:hover{
  color: rgb(142, 18, 18);
 }

.App {
  
  text-align: center;
}
.photoaround{
  /* padding-top: 10px; */
  border: 10px solid black;
}
/* .previewCards{
  
  padding-top: 10px;
} */
/* h3{
  text-decoration: none;
  
} */
.carouselCaption{
  background: red;
  padding: 0px;
}
.container{
  padding: 10px;
  
}

